.maindiv
{
	width: 850px;
	border-style:solid;
	border-width: 2px;
	margin-right: auto;
	margin-left: auto;
	background-color:white;
	position: relative;
	margin-top: -50px;
	box-shadow: 5px 5px 5px #888888;
	padding: 10px;
}

.menu
{
	width: 400px;
	/*border-style:solid;*/
	margin-right: auto;
	margin-left: auto;
	position:relative;
	/*background-color:red;*/
	margin-top: 20px;
}

.menubutton
{
	display:inline-block;
	margin:10px;
}

.menubutton:hover
{
	position:relative;
	top:-25px;
}

.linkimage
{
	height:80px;
}

body
{
	background-image:url("../images/squairy_light.png");
}