.maindiv
{
	width: 850px;
	/*border-style:solid;
	border-width: 2px;*/
	margin-right: auto;
	margin-left: auto;
	background-color:white;
	position: relative;
	/*margin-top: -50px*;*/
	margin-top:10px;
	box-shadow: 0px 5px 10px #888888;
	padding: 10px;
}

.menu
{
	width: 620px;
	/*border-style:solid;*/
	margin-right: auto;
	margin-left: auto;
	position:relative;
	/*background-color:red;*/
	margin-top: 20px;
	z-index:10;
}

.menubutton
{
	display:inline-block;
	/*margin:10px;*/
	width:205px;
	height:80px;
	/*height:85px;*/
	/*background-image:url("../images/IconPaper.png");
	background-repeat: no-repeat;*/
}

.menubutton:hover .linkimage
{
	height: 83px;
	width:auto;
	/*position:relative;
	top:-25px;*/
}

.linkimage
{
	width:80px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

body
{
	background-image:url("../images/stripes-pattern.png");
	font-family:'Open Sans', sans-serif;
}

.menubutton .text
{
	/*width:150px;*/
	margin-right:auto;
	margin-left:auto;
	display: block;
}

.georgiafont
{
	font-family: georgia;
}

.navigator
{
	width:100%;
}

.navigator .linkbutton
{
	padding:5px;
}

.navigator .linkbutton a
{
	color:black;
}

.navigator .linkbutton a:visited
{
	color:black;
}

