extends master
block prepend headerContent
	title="Alexandre Simard"
append mainContent
	h2
		|Contact me
	p(class="georgiafont")
		|If you would like to get in touch with me, you can always
		|send me an email to 
		a(href="mailto:alesimar@gmail.com?Subject=Hello%20Alex", target="_top")
			|alesimar@gmail.com
		|. From there we can
		|set up a meeting in person to discuss things such as contracts or
		|employment opportunities.