extends master
block prepend headerContent
	title="Alexandre Simard"
append mainContent
	h2
		|About me
	p(class="georgiafont")
		|I am a computer scientist, programmer, and glider pilot.
		|I am currently studying software systems at Concordia University
		|in Montreal.
		|I have graduated from John Abbott College, in the west island
		|of montreal. There I did a three year technical computer science program.
		|I have experience with many kinds of development. I have made
		|desktop applications, games, websites, android applications, and more.
	p(class="georgiafont")
		|I enjoy developing any kind of software, and if you have a project
		|you would like me to help you with, don't hesitate to contact me to 
		|find out if I'm the right programmer for you.
