extends master
block prepend headContent
	title="Alexandre Simard"
append mainContent
	h2
		|About me
	p(class="georgiafont")
		|I am a computer scientist, programmer, and glider pilot.
		|I am currently studying software systems at Concordia University
		|in Montreal.
	p(class="georgiafont")
		|I enjoy developing any kind of software, and if you have a project
		|you would like me to help you with, don't hesitate to contact me to 
		|find out if I'm the right programmer for you.
	//a(class="twitter-timeline", href="https://twitter.com/AlexandreSimar2", data-widget-id="354055682183544833")
		Tweets by @AlexandreSimar2
	//<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

