extends master
block prepend headerContent
	title="Past Work"
append mainContent
	h2
		|Past Work
	h3
		|Flymsc
	img(src="images/mscscreenshot.png", height="371px", width="797px")
	p(class="georgiafont")
		|I have completely remade the website of the gliding club
		|I attend. I added a lot of functionality, such as the
		|ability to book stays and upload documents that could
		|be viewed by only a specific group of people. You 
		|can view the website 
		a(href="http://www.flymsc.org/")
			|here